body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    background: #FFF;
}

h1, h2, h3 {
    margin: 0;
    color: #2E2F42;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 72px;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    display: block;
}

section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container { 
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER */

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-wrap {
    display: flex;
    flex-direction: row;
}

.logo {
    display: inline-block;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.header .logo {
    padding: 24px 0;
    margin-right: 76px;
}

.dark-logo {
    color: #2E2F42;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.nav-list {
    display: flex;
}

.nav-list-item:not(:last-child) {
    margin-right: 40px;
}

.nav-list-link {
    color: #2E2F42;
    font-weight: 500;
    padding: 24px 0;
}

.nav-list-link.current {
    position: relative;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link.current::after {
    position: absolute;
    left: 0px;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal
}

.address-list {
    display: flex;
}

.address-list-item:not(:last-child) {
    margin-right: 40px;
}

.address-list-link {
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link:hover,
.address-list-link:focus {
    color: #404BBF;
}

/* HERO */

.hero {
    max-width: 1440px;
    margin: 0 auto;
    background: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-title {
    max-width: 496px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.hero-button {
    display: block;
    min-width: 169px;
    margin: 48px auto 0;
    padding: 16px 32px;
    font-family: "Roboto", sans-serif;
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    border: none;
    background: #4D5AE5;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* FEATURE */

.feature {
}

.feature-title {
}

.feature-list {
    display: flex;
    flex-direction: row;
}

.feature-list-item {
    width: calc((100% - 3 * 24px) / 4);
}

.feature-list-item:not(:last-child) {
    margin-right: 24px;
}

.feature-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    background: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8E8F99;
}

.feature-subtitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.feature-text {
}

/* TEAM */

.team {
    background: #F4F4FD;
}

.team-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-list {
    display: flex;
}

.team-list-item {
    width: calc((100% - 3 * 24px) / 4);
    background: #FFF;
    margin-right: 24px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-item:last-child {
    margin-right: 0;
}

.team-list-avatar {
}

.team-list-descr {
    padding: 32px 0;
}

.team-list-name {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.team-list-position {
    text-align: center;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-item {

}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}

.social-icon {
    fill: #F4F4FD;
}

/* PORTFOLIO */

.portfolio {
}

.portfolio-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 2 * 24px) / 3);
    margin-right: 24px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:nth-child(3n + 3) {
    margin-right: 0;
}

.portfolio-img-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-list-img {
    max-width: 100%;
}

.portfolio-list-item:hover .overlay {
    transform: translateX(0%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    padding: 40px 32px;
    color: #F4F4FD;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item-descr {
    padding: 32px 16px;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
}

.portfolio-list-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.portfolio-list-kind {
}

/* FOOTER */

.footer {
    background: #2E2F42;
    padding: 100px 0;
}

.footer-wrap {
    display: flex;
    align-items: baseline;
}

.footer-legal {
    margin-right: 120px;
}

.footer .logo {
    margin-bottom: 16px;
    display: inline-block;
}

.light-logo {
    color: #F4F4FD;
}

.footer-descr {
    color: #FFFFFF;
    font-weight: 500;
    max-width: 264px;
}

.footer-social {

}

.footer-social .footer-descr {
    margin-bottom: 16px;
}

.footer-social .social-list {
    gap: 16px;
}

.footer-social .social-link:hover,
.footer-social .social-link:focus {
    background-color: #31D0AA;
}